<a href="https://colab.research.google.com/github/JPSpinola/Examen1/blob/main/lastmile_delivery_operations_mit_lift_lab_serving_customer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerias pandas, numpy y matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [3]:
#Carga desde un archivo .csv sin indice
data = pd.read_csv('lastmile_delivery_operations_mit_lift_lab_serving_customer.csv')

In [4]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum() 
valores_nulos

_child_record_id                           0
_record_id                                 0
_parent_id                                 0
_title                                     0
_version                                   0
_created_at                                0
_updated_at                                0
_created_by                                0
_updated_by                                0
_index                                     0
_geometry                                  0
_latitude                                  0
_longitude                                 0
_changeset_id                              0
_created_duration                          0
_updated_duration                          0
_edited_duration                           0
name_of_the_store                          0
entering_the_store                         0
number_of_customers_in_store               0
number_of_suppliers_in_store               0
picture_cargo_being_delivered             10
picture_cargo_being_delivered_captions    33
picture_cargo_being_delivered_urls        10
number_of_cases_boxes_delivered            0
trolley_in_use                             0
leaving_the_store                          0
dtype: int64

**MÉTODOS DE SUSTITUCIÓN PARA VALORES NULOS**

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 27 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   _child_record_id                        35 non-null     object
 1   _record_id                              35 non-null     object
 2   _parent_id                              35 non-null     object
 3   _title                                  35 non-null     object
 4   _version                                35 non-null     int64
 5   _created_at                             35 non-null     object
 6   _updated_at                             35 non-null     object
 7   _created_by                             35 non-null     object
 8   _updated_by                             35 non-null     object
 9   _index                                  35 non-null     int64
 10  _geometry                               35 non-null     object
 11  _latitude                               35 non-null     float64
 12  _longitude                              35 non-null     float64
 13  _changeset_id                           35 non-null     object
 14  _created_duration                       35 non-null     int64
 15  _updated_duration                       35 non-null     int64
 16  _edited_duration                        35 non-null     int64
 17  name_of_the_store                       35 non-null     object
 18  entering_the_store                      35 non-null     object
 19  number_of_customers_in_store            35 non-null     int64
 20  number_of_suppliers_in_store            35 non-null     int64
 21  picture_cargo_being_delivered           25 non-null     object
 22  picture_cargo_being_delivered_captions  2 non-null      object
 23  picture_cargo_being_delivered_urls      25 non-null     object
 24  number_of_cases_boxes_delivered         35 non-null     int64
 25  trolley_in_use                          35 non-null     object
 26  leaving_the_store                       35 non-null     object
dtypes: float64(2), int64(8), object(17)
memory usage: 7.5+ KB

In [ ]:
#Separamos variables cualitativas del DataFrame
#Filtro por columnas
cualitativas=data.iloc[: ,[0,1,2,3,4,5,6,7,8,10,11,12,13,14,15,16,17,18,21,22,23,25,26]]
cualitativas
#Se incluyeron las columnas 4,11,12,14,15,16 debido a que no se utilizarán en la sustitución de outliers por ser valores "únicos".

In [ ]:
#Sustituir valores nulos por un string en concreto
cualitativas["picture_cargo_being_delivered"]=cualitativas["picture_cargo_being_delivered"].fillna("NO PICTURE")
#Se susitituyeron valores nulos para indicar que no hay una foto disponible.

In [ ]:
#Corroboramos valores nulos por columna
valores_nulos=cualitativas.isnull().sum() 
valores_nulos

In [ ]:
#Sustituir valores nulos por un string en concreto
cualitativas["picture_cargo_being_delivered_captions"]=cualitativas["picture_cargo_being_delivered_captions"].fillna("NO PICTURE")
#Se susitituyeron valores nulos para indicar que no hay una foto disponible.

In [ ]:
#Corroboramos valores nulos por columna
valores_nulos=cualitativas.isnull().sum() 
valores_nulos

In [ ]:
#Sustituir valores nulos por un string en concreto
cualitativas["picture_cargo_being_delivered_urls"]=cualitativas["picture_cargo_being_delivered_urls"].fillna("NO PICTURE")
#Se susitituyeron valores nulos para indicar que no hay una foto disponible.

In [ ]:
#Corroboramos valores nulos por columna
valores_nulos=cualitativas.isnull().sum() 
valores_nulos

In [ ]:
#Corroboramos valores nulos totales
valores_nulos=cualitativas.isnull().sum().sum()
valores_nulos

**ELIMINAR OUTLIERS**

In [ ]:
#Realizamos diagrama de caja de cada columna del df
fig = plt.figure(figsize=(15,8))
data.plot(kind='box', vert=False)
plt.title("Valores Atípicos del DataFrame")
plt.show() # dibujamos el diagrama

In [ ]:
data.info()

In [ ]:
#Filtro por columnas
cuantitativas=data.iloc[: ,[19,20,24]]
cuantitativas
#No se incluyó la columna 9 debido a que se considera una columna innecesaria en el análisis.

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=cuantitativas

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q2
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 + 1.5*iqr
print("Límite superior permitido", Limite_Superior_iqr)
print("Límite inferior permitido", Limite_Inferior_iqr)

In [ ]:
#Encontramos Outliers del DataFrame
outlier_iqr= cuantitativas[(y>Limite_Superior_iqr)&(y<Limite_Inferior_iqr)]
outlier_iqr

In [ ]:
#Obtenemos datos limpios del DataFrame
data3_iqr= cuantitativas[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

In [ ]:
#Corroboramos valores nulos del dataframe
valores_nulos=data3_iqr.isnull().sum()
valores_nulos

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data4_iqr=data3_iqr.copy()
data4_iqr=data4_iqr.fillna(round(data4_iqr.mean(),1))
data4_iqr

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data4_iqr.isnull().sum()
valores_nulos

In [ ]:
#Unir columnas sin outliers (cuantitativas) y columnas cualitativas
lastmile_delivery_operations_mit_lift_lab_serving_customer_LIMPIO = pd.concat([cualitativas, data4_iqr], axis=1)
lastmile_delivery_operations_mit_lift_lab_serving_customer_LIMPIO

In [27]:
#Convertir DataFrame a CSV
lastmile_delivery_operations_mit_lift_lab_serving_customer_LIMPIO.to_csv("lastmile_delivery_operations_mit_lift_lab_serving_customer_LIMPIO.csv")

In [ ]:
#Descargar archivo filtrado en CSV
from google.colab import files

files.download("lastmile_delivery_operations_mit_lift_lab_serving_customer_LIMPIO.csv")

Se utilizó el metodo de cuantiles debido a la baja exposición a valores extremos (outliers). Al considerarse únicamente las observaciones entre el tercer cuartil y el primer cuartil, todas las observaciones fuera de ese rango quedan excluidas del cálculo y, por tanto, solo se tienen en cuenta las observaciones más cercanas a la mediana. Dándonos un resultado más "exacto" comparado con el método de desviación estándar.